<!DOCTYPE html>
<html class="no-js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" name="ogsitename" content="Villa Nima">
    <meta property="og:title" name="ogtitle" content="Villa Nima">
    <meta property="og:description" name="ogdescription" content="">
    <meta property="og:url" name="ogurl" content="https://villaniam.com/">
    <meta property="og:type" name="ogtype" content="website">
    <link rel="stylesheet" href="/static/villanima-components.css">
    <link rel="stylesheet" href="/static/villanima.css">

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous">
    </script>

</head>

<body ng-app="msSiteAngular" class="ng-scope" style="overflow: visible;">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- ngView:  -->
    <div class="main-container ng-scope" ng-view="">
        <div id="ms-preview" ms-template-loader-directive="" images="images" page="page" theme-id="themeId" settings="settings" class="ng-scope ng-isolate-scope">
            <div id="ms-html">
                <div id="ms-body">
                    <!--[if lt IE 7]>       <![endif]-->
                    <!--[if IE 7]>          <![endif]-->
                    <!--[if IE 8]>          <![endif]-->
                    <!--[if gt IE 8]><!-->
                    <!--<![endif]-->

                    <div class="container ng-scope">
                        <header class="main-header">
                            <section class="banner">
                                <div class="logo" style="">
                                    <h1 ms-header-item-text="&#39;main-title&#39;" editable="editMode" fit-text="&#39;.logo&#39;" class="ng-isolate-scope ms-header-text-item" data-original-size="64px" style=""><span class="ng-scope">This is my title</span></h1>
                                </div>
                            </section>

                            <div class="navigation-wrapper">
                                <nav class="main-menu ms-block navigation-block" ms-content-item-navigation="">

                                    <div class="mobile-menu">
                                        <svg class="icon-list">
                      <use xlink:href="bower_components/msContentItemNavigation/sprites.svg#icon-list"></use>
                    </svg>
                                        <span>Menu</span>
                                    </div>

                                    <div class="mobile-menu-close">
                                        <svg class="icon-close">
                      <use xlink:href="bower_components/msContentItemNavigation/sprites.svg#icon-close"></use>
                    </svg>
                                        <span>Close</span>
                                    </div>

                                    <ul class="nav">
                                        <!-- ngRepeat: menuItem in menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope active">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/home" ng-click="linkClicked()" class="ng-binding ng-scope" href="/home.html">home</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/gallery" ng-click="linkClicked()" class="ng-binding ng-scope" href="/gallery.html">gallery</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/accommodation-details" ng-click="linkClicked()" class="ng-binding ng-scope" href="/accommodation-details.html">accommodation details</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/location" ng-click="linkClicked()" class="ng-binding ng-scope" href="/location.html">location</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/local-facilities-&amp;-island-view" ng-click="linkClicked()" class="ng-binding ng-scope" href="/local-facilities-&amp;-island-view.html">local
                        facilities &amp; island view</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/rates---booking---availability" ng-click="linkClicked()" class="ng-binding ng-scope" href="/rates---booking---availability.html">rates - booking - availability</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/contact-form" ng-click="linkClicked()" class="ng-binding ng-scope" href="/contact-form.html">contact form</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/useful-links" ng-click="linkClicked()" class="ng-binding ng-scope" href="/useful-links.html">useful links</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/guest-reviews-" ng-click="linkClicked()" class="ng-binding ng-scope" href="/guest-reviews.html">guest reviews </a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in menu -->
                                    </ul>
                                </nav>
                            </div>

                        </header>

                        <section class="content-wrapper">

                            <aside class="navigation">
                                <nav class="ms-block navigation-block">
                                    <ul class="nav">
                                        <!-- ngRepeat: menuItem in helper.menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in helper.menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope active">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/#!/home" class="ng-binding ng-scope" href="/#!/home.html">home</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in helper.menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in helper.menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/#!/gallery" class="ng-binding ng-scope" href="/#!/gallery.html">gallery</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in helper.menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in helper.menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/#!/accommodation-details" class="ng-binding ng-scope" href="/#!/accommodation-details.html">accommodation details</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in helper.menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in helper.menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/#!/location" class="ng-binding ng-scope" href="/#!/location.html">location</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in helper.menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in helper.menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/#!/local-facilities-&amp;-island-view" class="ng-binding ng-scope" href="/#!/local-facilities-&amp;-island-view.html">local facilities &amp; island
                        view</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in helper.menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in helper.menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/#!/rates---booking---availability" class="ng-binding ng-scope" href="/#!/rates---booking---availability.html">rates - booking - availability</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in helper.menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in helper.menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/#!/contact-form" class="ng-binding ng-scope" href="/#!/contact-form.html">contact form</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in helper.menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in helper.menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/#!/useful-links" class="ng-binding ng-scope" href="/#!/useful-links.html">useful links</a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in helper.menu -->
                                        <li ng-class="(menuItem.pageId==page.id) ? &#39;active&#39;:&#39;&#39;" ng-repeat="menuItem in helper.menu" ng-hide="menuItem.hideInMenu || isShopEnable === false &amp;&amp; menuItem.type === &#39;Category&#39; || shopUrl === false" class="ng-scope">
                                            <!-- ngIf: menuItem.type === 'Page' --><a ng-if="menuItem.type === &#39;Page&#39;" ng-href="/#!/guest-reviews-" class="ng-binding ng-scope" href="/#!/guest-reviews.html">guest reviews </a>
                                            <!-- end ngIf: menuItem.type === 'Page' -->
                                            <!-- ngIf: menuItem.type === 'Category' -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                            <!-- ngIf: menuItem.subMenuItems.length > 0 -->
                                        </li>
                                        <!-- end ngRepeat: menuItem in helper.menu -->
                                    </ul>
                                </nav>
                            </aside>

<!-- start-of-content -->

<div class="content">
    <div class="ms-content-items-layout-directive ms-grid" layout-page-data="layoutPageData">
        <!-- ngRepeat: row in pagedata -->
        <div ng-repeat="row in pagedata" data-id="666a1ebd-eea5-4d3e-96d7-69d781bd3256" ng-init="row.settings.color=row.settings.color||&#39;#ffffff&#39;" class="ms-row ms-level-1 ng-scope" style="">
            <div class="ms-row-inner">
                <!-- ngRepeat: col in row.content -->
                <div ng-repeat="col in row.content" data-id="9e07b77f-b44a-4522-bb3c-5a4bba32b623" data-size="12" class="ms-col ms-level-1 ng-scope ms-col-12" ng-class="&#39;ms-col-&#39; + col.size">
                    <!-- ngRepeat: next in col.content -->
                    <div ng-repeat="next in col.content" class="ng-scope">
                        <!-- ngIf: next.type!=='row' -->
                        <div ng-if="next.type!==&#39;row&#39;" level="1" ms-content-item="" content-item-data="next" editable="editable" class="ng-scope ng-isolate-scope">
                            <div ms-content-item-controls="" actions="actions" class="ms-block text-block ms-level-1" data-id="f7532ca3-ca15-4ea0-9af2-efae024e595a">
                                <div style="color:;background-color:;line-height:" ng-bind-html="trustedHTML" ms-content-item-text="" content-item-data="contentItemData" content-item-meta-data="contentItemMetaData" class="ng-binding ng-isolate-scope">
                                    <p></p>
                                    <h3><em><strong>Please complete this form to send us an email. </strong></em></h3>
                                    <p></p>
                                </div>
                                <div class="element-controls ms-tools ng-scope">
                                    <div class="element-control has-tooltip delete icon-delete" ng-click="deleteElem()" ms-tooltip="" tooltip-content="Delete"></div>
                                    <div class="element-control has-tooltip handle icon-drag" ms-tooltip="" tooltip-content="Click and drag to move"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end ngIf: next.type!=='row' -->
                        <!-- ngIf: next.type==='row' -->
                    </div>
                    <!-- end ngRepeat: next in col.content -->
                </div>
                <!-- end ngRepeat: col in row.content -->
            </div>
        </div>
        <!-- end ngRepeat: row in pagedata -->
        <div ng-repeat="row in pagedata" data-id="id-145312187002469401" ng-init="row.settings.color=row.settings.color||&#39;#ffffff&#39;" class="ms-row ms-level-1 ng-scope" style="">
            <div class="ms-row-inner">
                <!-- ngRepeat: col in row.content -->
                <div ng-repeat="col in row.content" data-id="id-145312187002486308" data-size="12" class="ms-col ms-level-1 ng-scope ms-col-12" ng-class="&#39;ms-col-&#39; + col.size">
                    <!-- ngRepeat: next in col.content -->
                    <div ng-repeat="next in col.content" class="ng-scope">
                        <!-- ngIf: next.type!=='row' -->
                        <div ng-if="next.type!==&#39;row&#39;" level="1" ms-content-item="" content-item-data="next" editable="editable" class="ng-scope ng-isolate-scope">
                            <div ms-content-item-controls="" actions="actions" class="ms-block contact-form-block ms-level-1" data-id="id-145312187002314058">
                                <div class="contact-form ng-isolate-scope" ms-content-item-contact-form="" content-item-data="contentItemData" content-item-meta-data="contentItemMetaData">

                                    <form id="contact-form"  class="form ng-pristine ng-valid ng-valid-required" name="contactForm"  novalidate="">
                                        <!-- ngRepeat: field in contentItemData.settings.formItems -->
                                        <div class="form-item text" ng-repeat="field in contentItemData.settings.formItems" ng-class="{&#39;has-error&#39;: formSubmitted &amp;&amp; contactForm[field.name].$invalid}">
                                            <!-- ngInclude: getTemplateUrl() -->
                                            <div ng-include="getTemplateUrl()" field="field" form-data="formData[$index]" class="ng-scope"><label for="355b3acd-1519-450a-6b29-91a97965b14c" class="ng-binding ng-scope">Name <!-- ngIf: field.required --></label>
                                                <input id="355b3acd-1519-450a-6b29-91a97965b14c" type="text" placeholder="Enter your name" name="name" ng-required="false" ng-model="formData.value" ng-init="setData()" class="ng-pristine ng-untouched ng-valid ng-scope ng-valid-required"></div>
                                        </div>
                                        <!-- end ngRepeat: field in contentItemData.settings.formItems -->
                                        <div class="form-item text" ng-repeat="field in contentItemData.settings.formItems" ng-class="{&#39;has-error&#39;: formSubmitted &amp;&amp; contactForm[field.name].$invalid}">
                                            <!-- ngInclude: getTemplateUrl() -->
                                            <div ng-include="getTemplateUrl()" field="field" form-data="formData[$index]" class="ng-scope"><label for="8cb6f8ab-8a47-b479-4581-d4b427a557d4" class="ng-binding ng-scope">Email <!-- ngIf: field.required --></label>
                                                <input id="8cb6f8ab-8a47-b479-4581-d4b427a557d4" type="text" placeholder="Enter your email address" name="email" ng-required="false" ng-model="formData.value" ng-init="setData()" class="ng-pristine ng-untouched ng-valid ng-scope ng-valid-required"></div>
                                        </div>
                                        <!-- end ngRepeat: field in contentItemData.settings.formItems -->
                                        <div class="form-item textarea" ng-repeat="field in contentItemData.settings.formItems" ng-class="{&#39;has-error&#39;: formSubmitted &amp;&amp; contactForm[field.name].$invalid}">
                                            <!-- ngInclude: getTemplateUrl() -->
                                            <div ng-include="getTemplateUrl()" field="field" form-data="formData[$index]" class="ng-scope"><label for="7e77c30d-f884-016c-1bae-37161d6f8f07" class="ng-binding ng-scope">Message <!-- ngIf: field.required --></label>
                                                <textarea id="7e77c30d-f884-016c-1bae-37161d6f8f07" name="message" rows="5" placeholder="Enter your message" ng-model="formData.value" ng-required="false" ng-init="setData()" class="ng-pristine ng-untouched ng-valid ng-scope ng-valid-required"></textarea></div>
                                        </div>
                                        <!-- end ngRepeat: field in contentItemData.settings.formItems -->

                                        <!-- ngIf: formSubmitted && contactForm.$invalid -->

                                        <div class="form-item">
                                            <button class="button submit-button" ng-click="submitForm(contactForm)"><span class="ng-binding">Send</span></button>
                                        </div>
                                    </form>

                                </div>
                                <div class="element-controls ms-tools ng-scope">
                                    <div class="element-control has-tooltip delete icon-delete" ng-click="deleteElem()" ms-tooltip="" tooltip-content="Delete"></div>
                                    <div class="element-control has-tooltip settings icon-settings" ng-click="actions.displaySettings()" ms-tooltip="" tooltip-content="Settings"></div>
                                    <div class="element-control has-tooltip handle icon-drag" ms-tooltip="" tooltip-content="Click and drag to move"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end ngIf: next.type!=='row' -->
                        <!-- ngIf: next.type==='row' -->
                    </div>
                    <!-- end ngRepeat: next in col.content -->
                </div>
                <!-- end ngRepeat: col in row.content -->
            </div>
        </div>
        <!-- end ngRepeat: row in pagedata -->
    </div>
</div>

<script>

$("#contact-form").submit(function(event) {
    /* preventing the submit */
    event.preventDefault();

    var form = $( this );
    var requestBody = {}
    var formData = $( this ).serializeArray();
    $.each(formData, function (i, input) {
        requestBody[ input.name] = input.value;
    });

    console.log( formData );
    console.log( requestBody );

    $.post("https://villanima-contact-trial-fn.azurewebsites.net/api/contact", JSON.stringify( requestBody ), function(result) {
        form.each(function(){
            this.reset();
        });
    });
});

</script>
<!-- end-of-content -->
                        </section>

                        <footer>
                            <ms-copyright>
                                <div class="copyright ng-scope"> &copy; Copyright Villa Nima 2020
                                </div>
                            </ms-copyright>
                        </footer>

                        <!-- <div src="/static/navigation.js">
                            <script src="/static/main.js"></script>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- #ms-body > div > header > div > nav > div.mobile-menu > span -->
    <script>
      $('#ms-body > div > header > div > nav > div.mobile-menu > span').click(function() {
        $('#ms-body > div > header > div > nav > ul').toggle()
      });
    </script>
    <!--<div ms-login-popup settings="{provider:'Paypal'}"></div>-->


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- wpm commented out code
    <script src="/static/vendor.js"></script>
    <script src="/static/precache.js"></script>
    <script src="/static/config.js"></script>
    <script src="/static/scripts.js"></script>
    -->
</body>

</html>
